.contact-container {
  background-color: #f9f9f9;
  padding: 20px 25px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.contact-container span {
  font-weight: 600;
  color: #0073e6;
}

.contact-container textarea {
  width: 95%;
  resize: none;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: border-color 0.3s ease;
}

.contact-container textarea:focus {
  outline: none;
  border-color: #0073e6;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.3);
}

.contact-button{
  display: block;
margin: 5px auto;
  width: 50%;
  padding: 12px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

.contact-container a:hover {
  background-color: #005bb5;
  transform: scale(1.02);
}

.success-msg {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.error-msg {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
